
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;
    --color-primary: #4A70A9;
    --color-secondary: #1B3C53;
    --color-base-100: #EFECE3;
    --color-accent: #706f6f;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
}